<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mj.stepscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Logo_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".App_Main_Activity"
            android:label="@string/main_page_titlebar">

        </activity>
        <activity android:name=".WishList_Main_Activity"
            android:label="@string/wishlist_titlebar">

        </activity>
        <activity android:name=".TodoList_Main_Activity"
            android:label="@string/todolist_titlebar">

        </activity>
        <activity android:name=".TimeTable_Main_Activity"
            android:label="@string/timetable_titlebar">

        </activity>
        <activity android:name=".SpecialDay_Main_Activity"
            android:label="@string/specialday_titlebar">

        </activity>
        <activity android:name=".Calendar_Main_Activity"
            android:label="Calendar">

    </activity>
        <activity android:name=".Setting_Main_Activity"
            android:label="@string/setting_titlebar">

        </activity>
    </application>

</manifest>